// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//// Variables
@import "variables";
//template
@import "template/templateAll.scss";
.note-btn {
  color: black!important;
}
.single-page{
  margin-bottom: 25px;
  margin-top: 25px;
}
